# Configuración de la aplicación
APP_NAME="Registro y Control de Bienes - Aldea Universitaria"
APP_ENV=development

# Base de datos
DB_DRIVER=sqlite
DB_DATABASE=storage/database.sqlite
DB_HOST=127.0.0.1
DB_USERNAME=
DB_PASSWORD=

# Seguridad
CSRF_KEY=cambia-esta-clave-por-una-aleatoria-y-segura
